body {
  margin: 0 0 0 0;
  padding: 0;
  padding: 0;
  background: #fff;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
}

#reader {
  position: absolute;
  margin: 0 0 0 0;
  padding: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* from smallest and outermost to largest and innermost */
.dummyPage {
  position: absolute;
  left: 0;
  top: 20px;
  bottom: 20px;
  right: 15px;
  background-color: #FCF6F0;
  -webkit-box-shadow: 2px 2px 4px #754;
  -moz-box-shadow: 2px 2px 4px #754;
  -webkit-border-top-left-radius: 26px 6px;
  -webkit-border-bottom-left-radius: 26px 6px;
  -moz-border-radius-topleft: 26px 6px;
  -moz-border-radius-bottomleft: 26px 6px;
}

.runner {
  color: #542;
  text-transform: uppercase;
  font-size: 82%;
}

.pageNumber, .bookTitle, .chapterTitle {
  padding: 3% 2%;
}

.bookTitle, .chapterTitle {
  position: absolute;
  top: 1%;
  left: 6%;
  cursor: pointer;
  padding-left: 0;
}

.chapterTitle {
  top: auto;
  bottom: 1%;
  right: 20%;
}

.pageNumber {
  position: absolute;
  bottom: 1%;
  right: 8%;
  padding-right: 0;
}

#toc ul.root {
  position: absolute;
  top: 50px;
  left: 8%;
  max-height: 75%;
  max-width: 80%;
  background: #E0D3C0;
  -webkit-box-shadow: 1px 2px 2px #652;
  -moz-box-shadow: 1px 2px 2px #652;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow-y: auto;
  color: #432;
  font: 11pt Georgia, serif;
  text-shadow: 1px 1px #EEE6D0;
  border: 1px solid #EED;
  z-index: 9;
}

.tocArrow {
  position: absolute;
  top: 40px;
  left: 16%;
  width: 20px;
  height: 20px;
  -webkit-transform: rotateZ(45deg);
  background: #E0D3C0;
  z-index: 8;
}

#toc li {
  list-style: none;
  line-height: 220%;
  padding-left: 1em;
  padding-right: 2em;
  border-bottom: 2px groove #FFF6E9;
  cursor: pointer;
}

#toc li span {
  display: block;
}

#toc ul li:last-child {
  border-bottom: none;
}

#toc ul {
  margin: 0;
  padding: 0;
}
#toc ul.root {
  border-top: none;
}